

<header class="header-container">
  <div class="layer">
    <div class="content">
      <div class="brand">
        <h1 class="brand-heading">Iota</h1>
      </div>
      <h2 class="heading">Customize Your Sound</h2>
      <p class="description">Change settings and listen to your favorite music on the fly.</p>
      <a [routerLinkActiveOptions] = "{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/login']"><button class="login-btn" >Log In here</button></a>
      <a [routerLinkActiveOptions] = "{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/register']"><button class="login-btn" >Register</button></a>
    </div>
  </div>
</header>
