body{
  background-image: url('../../public/beach_wallpaper.f2baafe6d0cacf62f705.jpg');
  background-color:transparent;
  background-size:100%;
  background-repeat: no-repeat;
}
public/beach_wallpaper.f2baafe6d0cacf62f705.jpg
